body, h1, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4c74af;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}