body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4c74af;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #414040;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input {
    width: 15%;
    padding: 8px;
    margin-bottom: 10px;
}

footer {
    background-color: #4c74af;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}
